.calendar {
  --text-color-primary: #181d27;
  --text-color-secondary: #414651;

  --color-border: #e6e6e8;
  --color-event-bg: #ecfdf5; /* emerald-50 */
  --color-event-border: #a7f3d0; /* emerald-200 */
  --color-event-hover: #d1fae5; /* emerald-100 */
  --color-event: #059669; /* emerald-600 */
  --color-label: #717880; /* gray-500 */
  --color-off-range: #f7f7f7;

  font-size: 13px;
}

.dark .calendar {
  --color-border: #2a2a2a;
  --color-event-bg: #022c2299; /* emerald-950 */
  --color-event-border: #022c22; /* emerald-950 */
  --color-event-hover: #064e3b; /* emerald-900 */
  --color-event: #10b981; /* emerald-500 */
  --color-label: #717880; /* gray-500 */
  --color-off-range: #0c0c0c;
}

/* Table & Time slots rounded */
[role="table"],
.rbc-time-view {
  border-radius: 0px 0px 10px 10px;
}

/* Disable All day slot on header */
.rbc-allday-cell {
  display: none !important;
}

/* Header */
.rbc-header {
  padding: 8px !important;
}

.rbc-header,
.rbc-header > span {
  font-weight: 600 !important;
  color: var(--color-label) !important;
  font-size: 12px !important;
}

.rbc-time-header-content .rbc-header {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  vertical-align: middle !important;
}

/* Week & Day view: time slot */
.rbc-time-content {
  border: 1px !important;
}

.rbc-time-slot {
  min-height: 27px !important;
}

.rbc-events-container {
  margin-right: 4px !important;
}

.rbc-events-container .rbc-event {
  display: flex;
  background: transparent !important;
  border: none !important;
  padding: 6px 4px 4px 6px !important;
  margin: 0 !important;
}

.rbc-events-container .rbc-event::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: var(--color-event-bg);
  border: 1px solid var(--color-event-border);
  border-radius: 4px;
  z-index: 0;
}

.rbc-events-container .rbc-event:hover::before {
  background: var(--color-event-hover);
  border-color: var(--color-event-hover);
}

.rbc-events-container .rbc-event-label,
.rbc-events-container .rbc-event-content {
  position: relative;
  z-index: 1;
}

/* Day slot off range */
.rbc-off-range-bg {
  background: var(--color-off-range) !important;
}

.rbc-off-range-bg:last-child {
  border-bottom-right-radius: 10px !important;
}

/* Borders color */
[role="rowgroup"],
[role="table"],
.rbc-header,
.rbc-day-bg,
.rbc-events-container,
.rbc-time-view,
.rbc-time-content,
.rbc-time-slot,
.rbc-timeslot-group,
.rbc-label,
.rbc-time-header-content,
.rbc-time-header {
  border-color: var(--color-border) !important;
}

/* Do not show current time line */
.rbc-current-time-indicator {
  display: none !important;
}

/* Day slot */
.rbc-show-more {
  background-color: transparent !important;
  color: var(--color-label) !important;
  font-weight: 600;
  padding: 4px !important;
}

.rbc-button-link {
  color: var(--text-color-secondary);
  font-weight: 600;
  font-size: 12px;
}

.rbc-date-cell {
  text-align: left !important;
  padding: 6px;
  text-align: left;
}

.rbc-date-cell > .rbc-button-link {
  border-radius: 100%;
  height: 24px;
  justify-content: center;
  padding: 2px;
  vertical-align: middle;
  width: 24px;
}

/* Today day slot */
.rbc-today {
  background-color: transparent !important;
}

.rbc-date-cell.rbc-now > .rbc-button-link {
  margin: 0 auto;
  justify-content: center;
  vertical-align: middle;
  background-color: var(--primary);
  border-radius: 100%;
  padding: 2px;
  color: white !important;
  width: 24px;
  height: 24px;
}

/* Events */
.rbc-row-segment {
  margin-top: 2px !important;
}

.rbc-event {
  background-color: var(--color-event-bg) !important;
  border-radius: 4px;
  border: 1px solid var(--color-event-border) !important;
  color: var(--color-event) !important;
  font-size: 12px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rbc-row .rbc-event {
  margin: 0px 4px !important;
  width: 100% !important;
  max-width: calc(100% - 8px) !important;
}

.rbc-row .rbc-event .rbc-event-content {
  margin: 0px 2px !important;
  width: fit-content !important;
}

.rbc-event:hover {
  background-color: var(--color-event-hover) !important;
  border-color: var(--color-event-hover) !important;
  transition: all 0.2s ease-out;
}

.rbc-event:focus {
  background-color: var(--color-event-hover) !important;
  outline: none !important;
}

.rbc-event-label {
  font-size: 11px !important;
  font-weight: 400;
  line-height: 14px !important;
}

.rbc-event-content {
  padding-left: 4px;
  font-size: 12px !important;
  font-weight: 600;
  line-height: 14px !important;
}

/* Day view */
.rbc-slot-lunch {
  background-color: var(--color-off-range);
}

.rbc-label {
  color: var(--color-label) !important;
  font-size: 12px;
  font-weight: 500;
}
